.team {
    display: flex; 
    flex-direction: column; 
    align-items: center; 

    .team-photos {
        
        @media @desktop {
            width: 80%; 
            display: flex; 
            flex-direction: row; 
            flex-wrap: wrap; 
            justify-content: space-evenly;   
        }
    }
    
    .teammember {
        text-align: center; 
    }

    .headshot {
        padding-top: 5%;
        padding-bottom: 5%;  
    }

}





