.menu {
    display: none; 

    @media @desktop {
        display: none; 
    }
  
}

.menu--open {
    display: flex;
    flex-direction: column; 
    width: 50%; 
    height: auto; /* This give the height 100% of the screen or, '100% of View Height' */
    background-color: white;
    color: purple; 
    border: 1px solid purple;

    ul li {
        list-style-type: none;
        justify-items: space-around; 
        font-size: 2rem; 
        padding: 30px 0;
        text-align: center;
    
        @media @desktop {
            display: none; 
        }
      }
}